 body{
     background-image: url( https://i.pinimg.com/originals/fd/f4/9e/fdf49e918f6babc14a77e498b62b355a.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }
 p{
     font-size: x-large;
     font-style: inherit;
 }
 h1{
     text-align: center;
     color: white;
     

     
 }
 .col-md-3{
     color: white;
 }
 .col-md-9{
     color: white;
     font-size: xx-large;
     
 }
 h4{
     color: white;
     font-size: x-large;
 }
